<% title "Choose a time" %>

<%= breadcrumb do %>
  <li class="breadcrumb-item"><%= link_to "Choose a day", choose_day_reservations_path(room_id: @room.id) %></li>
  <li class="breadcrumb-item active" aria-current="page">Choose a time</li>
<% end %>

<%= render Layout::FullWidth do %>
  <%= list_item do %>
    <h4 class="display-4 text-center">Choose a time</h4>

    <dl class="row">
      <dt class="col-6">Room</dt>
      <dd class="col"><%= @room.name %></dd>

      <dt class="col-6">Day</dt>
      <dd class="col"><%= short_date(@day) %></dd>
    </dl>

    <% @room.future_availability_for_day(@day.beginning_of_day).each do |option| %>
      <% if option[:reservation].present? %>
        <%= link_to "#{pretty_time(option[:hour])} (#{option[:reservation].user.name})", "#", class: "btn btn-block btn-danger disabled" %>
      <% else %>
        <%= link_to pretty_time(option[:hour]), choose_duration_reservations_path(room_id: @room.id, day: @day, hour: pretty_time(option[:hour])), class: "btn btn-block btn-primary" %>
      <% end %>
    <% end %>
  <% end %>
<% end %>