<p>New demo instance requested:</p>

<p>Name: <span><%= @operator_survey.user.name %></span></p>

<p>Email: <span><%= @operator_survey.user.email %></span></p>

<p>Space Name: <span><%= @operator_survey.space_name %></span></p>

<p>Square Footage: <span><%= @operator_survey.square_footage %></span></p>

<p>Location: <span><%= @operator_survey.location %></span></p>

<p>Number of members: <span><%= @operator_survey.number_of_members %></span></p>

<p>Remaining available subdomains: <span><%= Subdomain.unreserved.count %></span></p>

