<% title "Check-ins" %>

<%= wide_card do %>
  <h4 class="display-4 text-center">Check-ins</h4>

  <% @report.checkins_by_day.each do |report| %>
    <p class="lead"><%= report.label %></p>
    <%= column_chart report.data %>
  <% end %>
<% end %>

<%= wide_card do %>
  <h4 class="display-4 text-center">Revenue from Check-ins</h4>

  <% @report.checkin_revenue_by_day.each do |report| %>
    <p class="lead"><%= report.label %></p>
    <%= column_chart report.data, xtitle: "Revenue", ytitle: "Week", prefix: "$", thousands: "," %>
  <% end %>
<% end %>