<div class="row">
  <div class="col-4">
    <% if event.image.attached? %>
      <%= image_tag event.thumbnail, class: "rounded img-fluid" %>
    <% else %>
      <%= image_tag "profile-125x125.jpg", class: "rounded img-fluid" %>
    <% end %>
  </div>
  <div class="col-8">
    <div class="row">
      <h6 class="text-danger col">
        <%= render "operator/events/timestamp", event: event %>
      </h6>
    </div>
    <div class="row">
      <h5 class="col"><%= event.title %></h5>
    </div>
    <div class="row">
      <div class="col">
        <%= link_to "View details", event_path(event), class: "btn btn-block btn-primary" %>
      </div>
    </div>
  </div>
</div>