<div id="login-body" class="mt-3">
  <%= render "layouts/flash" %>
  <%= form_for(:session, url: login_event_rsvps_path(event), remote: true, method: :get) do |f| %>
    <div class="form-group">
      <%= f.label :email, "Enter your email address and password to RSVP" %>
      <%= f.email_field :email, placeholder: "Email", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.password_field :password, placeholder: "Password", class: "form-control" %>
    </div>

    <%= f.submit "Sign In and RSVP", class: "form-control btn btn-primary", data: { "turbolinks-action" => "restore" } %>
  <% end %>
</div