<section class="fp-active pt-5" data-block-type="forms" data-id="1" draggable="true">
  <div class="container mt-3">
    <div class="row">
      <div class="col-12 col-md-6 m-md-auto ml-lg-0 col-lg-5">
        <img alt="image" class="img-fluid" src="<%= icon_path %>">
      </div>
      <div class="col-12 col-md-10 col-lg-6 mt-4 mt-lg-0 ml-auto mr-auto ml-lg-auto text-left">
        <div class="row">
          <div class="col">
            <h1><%= title %></h1>
            <p class="lead"><%= body %></p>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col">
            <%= content %>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col">
            <p>
              <%= footer_text %>&nbsp;<%= footer_link %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
