<%= form_with(model: childcare_slot, url: url, remote: true) do |f| %>
  <%= f.hidden_field :location_id, value: childcare_slot.location_id %>

  <div class="form-group">
    <%= f.label :week_day %>
    <%= f.select :week_day, I18n.t('date.day_names').zip(0..6), class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :name, "Description" %>
    <%= f.text_field :name, placeholder: "Morning / All day", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :capacity %>
    <%= f.number_field :capacity, class: "form-control" %>
  </div>

  <%= f.submit label, class: "btn btn-primary btn-block" %>
<% end %>