<%= form_with(model: @door, remote: true) do |f| %>
  <%= render "shared/error_messages" , model: @door %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :kisi_id, "Kisi Door ID" %>
    <%= f.text_field :kisi_id, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :slug, "Configuration Slug" %>
    <%= f.text_field :slug, class: "form-control" %>
  </div>

  <%= f.submit label, class: "form-control btn btn-primary" %>
<%- end %>
