<ul class="list-group mt-4 mb-2">
  <% if user.card_added? %>
    <% if user.out_of_band? %>
      <li class="list-group-item active">Card ending in <%= user.card_last_4_digits %></li>
    <% else %>
      <% if user.bill_to_organization? %>
        <li class="list-group-item">Card ending in <%= user.card_last_4_digits %></li>
      <% else %>
        <li class="list-group-item active">Card ending in <%= user.card_last_4_digits %></li>
      <% end %>
    <% end %>
  <% else %>
    <li class="list-group-item disabled">No card on file</li>
  <% end %>

  <% if user.out_of_band? && !user.bill_to_organization? %>
    <li class="list-group-item active">Via cash or check</li>
  <% else %>
    <li class="list-group-item disabled">Via cash or check (ask a staff member)</li>
  <% end %>

  <% if user.member_of_organization? %>
    <% if user.bill_to_organization? %>
      <li class="list-group-item active">Bill to group (<%= user.organization.name %>)</li>
    <% else %>
      <li class="list-group-item">Bill to group (<%= user.organization.name %>)</li>
    <% end %>
  <% else %>
    <% if user.bill_to_organization %>
      <span class="badge badge-danger">User is not a member of a group</span>
    <% end %>
    <li class="list-group-item disabled">Group billing unavailable (not a member of a group)</li>
  <% end %>
</ul>