<% title "Day Passes" %>

<%= breadcrumb do %>
  <li class="breadcrumb-item"><%= link_to @user.name, user_path(@user) %></li>
  <li class="breadcrumb-item active" aria-current="page">Day Passes</li>
<% end %>

<div class="row mt-0 mb-0">
  <div class="col-lg-3"></div>
  <div class="col-lg-6 m-0 pl-0 pr-0">
    <%= list_wrapper do %>
      <%= list_item do %>
        
        <h4 class="display-4 text-center mt-4">Day Passes</h4>
        <%= render "day_passes", user: @user %>
        
      <% end %>
    <% end %>
  </div>
  <div class="col-lg-3"></div>
</div>

