<% title "Group" %>

<%= breadcrumb do %>
  <li class="breadcrumb-item"><%= link_to @user.name, user_path(@user) %></li>
  <li class="breadcrumb-item active" aria-current="page">Group</li>
<% end %>

<div class="row mt-0 mb-0">
  <div class="col-lg-3"></div>
  <div class="col-lg-6 m-0 pl-0 pr-0">
    <%= list_wrapper do %>
      <%= list_item do %>
        
        <h4 class="display-4 text-center mt-2">Group</h4>
        <p>Select the correct group from the dropdown list to update this member's group.</p>
        <%= render "organization_form", user: @user %>
        
      <% end %>

      <% if @user.member_of_organization? %>
        <%= link_to organization_path(@user.organization), class: "list-group-item list-group-item-action m-0" do %>
          <div class="row">
            <div class="col-lg-10 col-11">
              <i class="fas fa-users"></i>
              &nbsp;
              View <%= @user.organization.name %>
            </div>
            <div class="col-1">
              <i class="fas fa-chevron-right"></i>
            </div>
          </div>
        <% end %>
      <% end %>

    <% end %>
  </div>
  <div class="col-lg-3"></div>
</div>

