<% title "Payment Method" %>

<%= breadcrumb do %>
  <li class="breadcrumb-item"><%= link_to @user.name, user_path(@user) %></li>
  <li class="breadcrumb-item active" aria-current="page">Payment Method</li>
<% end %>

<%= render Layout::FullWidth do %>
  <%= list_wrapper do %>
    <%= list_item do %>
      <%= render(PaymentMethodComponent, billable: @user) %>
    <% end %>
  <% end %>
<% end %>

