<div class="card border-light">
  <div class="card-body">
    <div class="row">
      <div>
        <% if room.has_photo? %>
          <%= image_tag room.square_photo, class: "img-thumbnail", style: "max-height: 100px;" %>
        <% end %>
      </div>
      <div class="ml-4 mb-1">
        <div class="row">
          <h5 class="display-5">
            <%= link_to room.name, room_path(room) %>
          </h5>
        </div>
        <div class="row">
          <% if room.whiteboard? %>
            <span class="badge badge-info mr-1">Whiteboard</span>
          <% end  %>
          <% if room.av? %>
            <span class="badge badge-success mr-1">AV equipment</span>
          <% end %>
        </div>
        <div class="row">
          <span class="text-dark">Seats <strong><%= room.capacity %></strong> people</span>
        </div>
        <% if room.rentable? && policy(:payment).enabled? %>
          <div class="row">
            <span class="text-dark">Available for <%= number_to_currency(room.hourly_rate_in_cents.to_f / 100.0) %> / hr</span>
          </div>
        <% end %>

        <% if policy(:credit).enabled? %>
          <div class="row">
            <span class="text-dark">Costs <strong><%= room.credit_cost %></strong> credits per hour</span>
          </div>
        <% end %>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col">
        <% if room.available_now? %>
          <div class="row mt-2">
            <%= link_to "Reserve Now", choose_duration_reservations_path(room_id: room.id, day: Time.current, hour: pretty_time(Time.current.beginning_of_half_hour)), class: "col btn btn-block btn-success" %>
          </div>
        <% end %>
        <div class="row mt-2">
          <%= link_to "Reserve Later", choose_day_reservations_path(room_id: room.id), class: "col btn btn-block btn-primary" %>
        </div>
        <% if admin? %>
          <div class="row mt-2">
            <%= link_to "Edit Room", edit_room_path(room), class: "col btn btn-block btn-secondary" %>
          </div>
          <div class="row mt-2">
            <% if mobile_app_request? %>
              <%= link_to "Subscribe available on desktop", "#", class: "col btn btn-block btn-info disabled"%>
            <% else %>
              <%= link_to "Subscribe", room_url(room, protocol: :webcal, format: :ics), class: "col btn btn-block btn-info" %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
