<% title "Analytics" %>

<%= breadcrumb do %>
  <li class="breadcrumb-item"><%= link_to "What's Happening?", events_path %></li>
  <li class="breadcrumb-item"><%= link_to @event.title, event_path(@event) %></li>
  <li class="breadcrumb-item active" aria-current="page">Analytics</li>
<% end %>

<div class="row mt-1 mb-0 p-0">
  <div class="col-lg-3"></div>
  <div class="col-lg-6 m-0 p-0">
    <%= list_wrapper do %>
      <%= list_item do %>
        <h4 class="display-4 text-center">Analytics</h4>
      <% end %>

      <%= list_item do %>
        <div class="row">
          <div class="col">Web Visitors</div>
        </div>
        <%= line_chart Ahoy::Visit.where("landing_page LIKE ?", "%events/#{@event.id}%").group_by_day('ahoy_visits.started_at', last: 30, time_zone: @event.location.time_zone).count %>
      <% end %>

      <%= list_item do %>
        <div class="row">
          <div class="col">
            RSVP Referrers
            <br />
            <span class="text-muted">(Latest-visit attribution)</span>
          </div>
        </div>
        <%= pie_chart @event.rsvps.joins(:ahoy_visit).group('referring_domain').count %>
      <% end %>

      <%= list_item do %>
        <div class="row">
          <div class="col">
            Going
            <span class="text-muted">(<%= @event.rsvps.going.count %>)</span>
          </div>
        </div>
      <% end %>

      <% @event.rsvps.going.each do |rsvp| %>
        <%= render "operator/users/list_item", user: rsvp.user %>
      <% end %>

    <% end %>
  </div>
  <div class="col-lg-3"></div>
</div>