<% title "Invoices" %>

<%= breadcrumb do %>
  <li class="breadcrumb-item"><%= link_to @organization.name, organization_path(@organization) %></li>
  <li class="breadcrumb-item active" aria-current="page">Invoices</li>
<% end %>

<div class="row mt-0 mb-0">
  <div class="col-lg-3"></div>
  <div class="col-lg-6 m-0 pl-0 pr-0">
    <%= list_wrapper do %>
      <%= list_item do %>
        
        <h4 class="display-4 text-center mt-4">Invoices</h4>
          <div class="card-body list-group list-group-flush p-0">
            <% if @organization.has_billing? || @organization.out_of_band? %>
              <%= link_to new_invoice_path(organization_id: @organization.id), class: "btn btn-block btn-primary" do %>
                <i class="fas fa-dollar-sign"></i>
                &nbsp;
                New Invoice
              <% end %>
            <% else %>
              <%= link_to "Create new invoice", new_invoice_path(organization_id: @organization.id), class: "btn btn-block btn-primary disabled" %>
              <div class="text-center">
                <small>Set a payment method to create a new invoice</small>
              </div>
            <% end %>
            <%= render @organization.invoices %>
          </div>
        
      <% end %>
    <% end %>
  </div>
  <div class="col-lg-3"></div>
</div>

