<%= form_with(model: day_pass_type, url: url, remote: true) do |form| %>
  <%= render "shared/error_messages" , model: day_pass_type %>

  <div class="form-group">
    <%= form.label :name, "What is this day pass type called?" %>
    <%= form.text_field :name, placeholder: "Standard Day Pass", class: "form-control", disabled: true %>
  </div>

  <%= form.label :amount_in_cents, "How much does this day pass cost?" %>
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">$</span>
    </div>
    <%= form.text_field :amount_in_cents, class: "form-control", disabled: true, value: day_pass_type.amount_in_cents / 100.0 %>
  </div>

  <div class="form-group">
    <%= form.label :code, "Discount Code (Optional)" %>
    <%= form.text_field :code, class: "form-control", placeholder: "CODE123" %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.rich_text_area :description %>
  </div>

  <%= form.submit "Update", class: "form-control btn btn-primary", data: {disable_with: "Updating..."} %>
<% end %>



