<div class="card border-light">
  <div class="card-body">
    <div class="row">
      <div class="ml-4 mb-1">
        <div class="row">
          <h5 class="display-5">
            <%= office_lease.organization.name %>
          </h5>
        </div>
        <div class="row">
          <p>Office: <%= office_lease.office.name %></p>
          <p>Lease start: <%= office_lease.start_date %></p>
          <p>Lease end: <%= office_lease.end_date %></p>
          <% if office_lease.has_lease? %>
            <%= link_to "Download Lease", rails_blob_path(office_lease.lease_agreement, disposition: 'attachment') %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
