<% title "Leases" %>

<%= breadcrumb do %>
  <li class="breadcrumb-item"><%= link_to "Offices & Leases", offices_path %></li>
  <li class="breadcrumb-item active" aria-current="page">Leases</li>
<% end %>

<%= render Layout::FullWidth do %>
  <%= list_item do %>
    <h4 class="display-4 text-center">Active Leases</h4>
    
    <%= link_to "Create an office lease", new_office_lease_path, class: "btn btn-block btn-primary" %>
    <%= render "lease_list", leases: @office_leases.active %>
  <% end %>
  
  <%= list_item do %>
    <h4 class="display-4 text-center">Terminated Leases</h4>

    <%= render "lease_list", leases: @office_leases.inactive %>
  <% end %>
<% end %>