<ul class="nav justify-content-center">
  <li class="nav-item"><%= link_to "Open", open_invoices_path, class: "nav-link" %></li>
  <li class="nav-item"><%= link_to "Recent", recent_invoices_path, class: "nav-link" %></li>
  <li class="nav=item"><%= link_to "Delinquent", delinquent_invoices_path, class: "nav-link" %></li>
  <li class="nav-item"><%= link_to "Groups", groups_invoices_path, class: "nav-link" %></li>
  <li class="nav-item"><%= link_to "All", invoices_path, class: "nav-link" %></li>
</ul>
